<%- include("partials/header") -%>
<body>
  <h1>Compose</h1>
  <form action="/compose" method="POST">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Title</label>
      <input
        type="text"
        name="postTitle"
        class="form-control"
        id="exampleFormControlInput1"
      />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Post</label>
      <textarea
        class="form-control"
        name="postBody"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>
    <button type="submit" class="btn btn-primary" name="button" value="true">
      Publish
    </button>
  </form>
</body>

<%- include("partials/footer") -%>
